<div class="header">
    <app-filler></app-filler>
</div>

<div class="footer">
    <app-filler></app-filler>
</div>

<div class="side-bar left">
    <app-filler></app-filler>
</div>

<main>
    <div class="child"></div>
    <div class="child"></div>
    <div class="child"></div>
    <div class="child"></div>
    <div class="child"></div>
    <div class="child"></div>
    <div class="child"></div>
    <div class="child"></div>
    <div class="child"></div>
    <div class="child"></div>
    <ng-content></ng-content>
</main>

<div class="side-bar right">
    <app-filler></app-filler>
</div>
