:host {
    flex: 1 1 0;
    display: grid;

    grid-template-columns: [first] 200px [bhc] auto [bcf] 300px [last];
    grid-template-rows: [first] 1fr [blsc] 2fr [bcrs] 3fr [last];

    // grid-template-columns: 200px auto 300px;
    // grid-template-rows: 1fr 2fr 3fr;

    // grid-template-areas:
    //     "header header header"
    //     "left main right"
    //     "footer footer footer";
}

.header {
    // grid-area: header;

    // grid-row-start: first;
    // grid-row-end: bcf;
    // grid-column-start: first;
    // grid-column-end: last;

    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 4;
}

main {
    // grid-area: main;

    // grid-row-start: bhc;
    // grid-row-end: bcf;
    // grid-column-start: blsc;
    // grid-column-end: bcrs;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 2;
    grid-column-end: 3;

    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    column-gap: 10px;
    grid-template-rows: repeat(10, 20px);
    row-gap: 10px;
}

.child {
    background: #f00;
    width: 100%;
    height: 100%;
}

.left {
    // grid-area: left;

    // grid-row-start: bhc;
    // grid-row-end: bcf;
    // grid-column-start: first;
    // grid-column-end: blsc;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 1;
    grid-column-end: 2;
}

.right {
    // grid-area: right;

    // grid-row-start: bhc;
    // grid-row-end: bcf;
    // grid-column-start: bcrs;
    // grid-column-end: last;

    grid-row-start: 2;
    grid-row-end: 3;
    grid-column-start: 3;
    grid-column-end: 4;
}

.footer {
    // grid-area: footer;
    // grid-row-start: bcf;
    // grid-row-end: last;

    // grid-column-start: first;
    // grid-column-end: last;

    grid-row-start: 3;
    grid-row-end: 4;
    grid-column-start: 1;
    grid-column-end: 4;
}

@media (min-width: 1500px) {
    :host {
        // grid-template-areas:
        //     "header header header"
        //     "left right main"
        //     "footer footer footer";
    }
}
