:host {
    display: contents;
}

.wrapper {
    display: flex;
    flex-direction: row;
    border: 10px solid #f00;
    flex: 1 1 0;
    flex-wrap: wrap;

    justify-content: flex-start;
    align-items: flex-start;
    justify-items: flex-start;

    .child {
        height: 150px;
        background: #777;
        border: 10px solid #000;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        flex: 0 0 500px;
    }
}
