<!-- <app-page-layout>
    <router-outlet></router-outlet>
</app-page-layout> -->

<app-grid-page-layout>
    <router-outlet></router-outlet>
</app-grid-page-layout>

<!-- <div class="wrapper">
    <div class="child" style="order: 1">1</div>
    <div class="child" style="order: 1">2</div>
    <div class="child" style="order: 1">3</div>
    <div class="child" style="order: 1">4</div>
    <div class="child" style="order: 1">5</div>
</div> -->
