:host {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    flex: 1 0 0;
}

.header,
.footer {
    height: 100px;
    flex: 0 0 100px;
}

.content {
    display: flex;
    flex-direction: row;
    flex: 1 1 0;
    align-items: stretch;

    .side-bar {
        flex: 0 0 300px;
    }

    main {
        flex: 1 1 0;
    }
}

// @media screen and (orientation: portrait) {
//     .right {
//         display: none;
//     }
// }