<div class="header">
    <app-filler></app-filler>
</div>
<div class="content">
    <div class="side-bar left" *ngIf="!isVerySmallScreen">
        <app-filler></app-filler>
    </div>
    <main>
        <ng-content></ng-content>
    </main>
    <div class="side-bar right" *ngIf="!isPortrait && !isVerySmallScreen">
        <app-filler></app-filler>
    </div>
</div>
<div class="footer">
    <app-filler></app-filler>
</div>
